<!DOCTYPE html>
<html lang="en">
    <head>
        <title>XXXXX</title>
    </head>

    <body>
	<form name = "form">
        <h1 align = "center">
            XXXXX
		</h1>
        <br/>
		<strong>Please input query</strong>
		<hr/>
		<table>
            <tr valign = "top">
                <td>
                    <textarea name = "input" cols = "35" rows = "5" wrap = "virtual"></textarea>
					<br>
				</td>
			</tr>
        </table>
        <input type = "button" value = "search" onclick = "main(true);">
        <br>
		<br>

		<strong>Result</strong>
		<hr>
		<table>
			<tr valign = "top">
				<td>
					<textarea name = "output" cols = "35" rows = "5" wrap = "virtual"></textarea>
					<br>
				</td>
			</tr>
		</table>

        <br>
        <strong>Recommendation</strong>
        <hr>
        <table>
            <tr valign = "top">
                <td>
                    <textarea name = "recomm" cols = "35" rows = "5" wrap = "virtual"></textarea>
                    <br>
                </td>
            </tr>
        </table>

	</form>
	</body>
</html>
